
        
    {% extends 'base.html' %}
    {% block mycontent %}
    <h1>myself Misha</h1>
    <table class="table">
        <tr>
            <td>student name</td>
            <td><input type="text" class="form-control"></td>
        </tr>
        <tr>
            <td>rollno</td>
            <td><input type="text" class="form-control"></td>
        </tr>
        <tr>
            <td>admn no</td>
            <td><input type="text" class="form-control"></td>
        </tr>
        <tr>
            <td><button class="btn btn-success">submit</button></td>
        </tr>
        
    </table>

    {% endblock%}
